<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/login.css">
    <title>{{pageName}}</title>
</head>
<body>

    <img class="header__image" src="images/wstarling.png">

    <div class="container">
        <form class="login__form" action={{action}} method="post">
            <div class="errorMessage">{{errorMessage}}</div>
            <input class="login__login" name='login' type="text" minlength="3" maxlength="18" autocomplete="new-password" placeholder="логин">
            {{#if name}}
               <input class="login__name" name='name' type="text" minlength="3" maxlength="15" autocomplete="new-password" placeholder="имя">
            {{/if}}
            <input class="login__password" name='password' type="password" minlength="5" autocomplete="new-password" placeholder="пароль">
            {{#if repeat}}
            <input class="login__password" name='repeat' type="password" minlength="5" autocomplete="new-password" placeholder="повторите пароль">
            {{/if}}
            <input class="login__button" type="submit" value="{{buttonValue}}"></input>
        </form>

        <div class="buttons">
            <a  class="button" href={{href1}}>{{button1}}</a>
            <a  class="button" href={{href2}}>{{button2}}</a>
        </div>

    </div>
    
</body>
</html>