<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/login.css">
    <title>{{pageName}}</title>
</head>
<body>

    <div class="header">
        <div class="header__text">Post Pigeon</div>
    </div>
    <img class="header__image" src="images/postpigeon.png">

    <div class="container">
        <form class="login__form" action={{action}} method="post">
            <div class="errorMessage">{{errorMessage}}</div>
            <input class="login__login" name='login' type="text" minlength="3" maxlength="18" autocomplete="off" placeholder="логин">
            {{#if name}}
               <input class="login__name" name='name' type="text" minlength="3" maxlength="15" autocomplete="off" placeholder="имя">
            {{/if}}
            <input class="login__password" name='password' type="password" minlength="5" placeholder="пароль">
            <input class="login__button" type="submit" value="{{buttonValue}}"></input>
        </form>

        <a  class="register" href={{href}}>{{back}}</a>

    </div>
    
</body>
</html>